<div class="chat-body">
    <div class="profile-section">
        <img src="../../../assets/dummyProfile.png" alt="profile">
        <h4>Chatting with...</h4>
    </div>
    <div class="chat-box">
        <div class="chat-header">
            <div class="chat-user">
                <img src="../../../assets/rightArrowIcon.svg" alt="profile">
                <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px" style="margin-left: 4%;">
                <span>john_doe</span>
            </div>
            <div style="display: flex;width: 15%;justify-content: space-between;">
                <img src="../../../assets/callIcon.svg" alt="more" height="25px" width="25px">
                <img src="../../../assets/videocallIcon.svg" alt="more" height="25px" width="25px">
            </div>
        </div>
        <div class="chat-content">
            <!-- <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum maiores aliquid nesciunt blanditiis porro eius vitae earum, harum exercitationem quae libero mollitia odit aspernatur expedita recusandae ducimus alias quam consectetur?</span> -->
            <div class="his-chat">
                <span>Hi</span>
            </div>
            <div class="my-chat">
                <span>Hi bro!</span>
            </div>
            <div class="his-chat">
                <span>Wassup</span>
            </div>
            <div class="his-chat">
                <span>How are you doing?</span>
            </div>
            <div class="my-chat">
                <span>I am fine bro. Just working on an chatting application.</span>
            </div>
            <div class="his-chat">
                <span>Wow,that's great!</span>
            </div>
            <div class="my-chat">
                <span>Can you suggest some ways , how i can make it real time ?</span>
            </div>
            <div class="his-chat">
                <span>Sure bro! why don't you try web sockets.</span>
            </div>
            <div class="my-chat">
                <span>Nice</span>
            </div>
            <div class="my-chat">
                <span>That's a good idea , i will give it a try now.</span>
            </div>
        </div>

        <div class="chat-input">
            <div class="chat-icons">
                <img src="../../../assets/cameraIcon.svg" alt="more">
                <img src="../../../assets/photoIcon.svg" alt="more">
                <img src="../../../assets/micIcon.svg" alt="more">
            </div>
            <input type="text" placeholder="Aa">
            <img src="../../../assets/sendIcon.svg" alt="more" >
        </div>
    
    </div>
</div>