<div class="dash-container">
    <div class="dash-nav">
        <div class="nav-logo">
            <!-- <img src="../../../assets/lol_emoji.svg" alt="LOGO" height="30px" width="40px">
            <span>LaughOutLoud</span> -->
            <img src="../../../assets/headerLogo.png" alt="LOGO" height="60px" width="160px">
        </div>
        <div class="home-logo" (click)="onHomeClick()">
            <img src="../../../assets/homeIcon.svg" alt="LOGO" >
            <!-- <span>Home</span> -->
        </div>
        <div class="nav-search">
            <img src="../../../assets/searchIcon.svg" alt="SEARCH" height="30px" width="40px">
            <input type="text" placeholder="Search from here..." [(ngModel)]="searchText">
        </div>
        <div class="nav-profile">
            <img src="../../../assets/notificationIcon.svg" alt="notification" style="margin-right: 2%;">
            <img src="../../../assets/dummyProfile.png" alt="profile" height="30px" width="30px">
            <span>{{userDetails.username}}</span>
            <img src="../../../assets/dropdown.svg" alt="dropdown" (click)="openDialog()">
        </div>
    </div>
    <div class="dash-body">
        <div class="dash-sections">
            <div class="profile-section" *ngIf="currentRoute === '/'">
                <img src="../../../assets/dummyProfile.png" alt="profile">
                <h4>{{userDetails.username}}</h4>
            </div>


            <div class="main-section" *ngIf="currentRoute === '/'">
                <div class="msg-box">
                    <div class="img-box">
                        <img src="../../../assets/dummyProfile.png" alt="profile" height="40px" width="40px">
                    </div>
                    <div class="input-box">
                        <textarea name="" id="message" placeholder="write msg here..." [(ngModel)]="content" required=""></textarea>
                        <div style="display: flex; justify-content: center; align-items: center;margin-top: 2%;">
                            <label for="photoUpload" style="cursor: pointer;width: 30%;display: flex;justify-content: center;align-items: center;justify-content: flex-start;">
                              <img src="../../../assets/photoIcon.svg" alt="photo" height="16px" width="16px">
                              <span style="font-size: 12px;color: rgb(80, 8, 121);">Photo</span>
                            </label>
                          <input type="text" id="photoUpload" [(ngModel)]="mediaUrl" style="width: 100%;">
                        </div>
                        <div class="msg-type">
                          <div class="type">
                            <div style="display: flex; justify-content: center; align-items: center;">
                              <img src="../../../assets/videoIcon.svg" alt="video" height="16px" width="16px">
                              <span>Video</span>
                            </div>
                          </div>
                          <button class="post-btn" (click)="onPostBtnClick()">
                            <span>Post</span>
                            <img src="../../../assets/sendIcon.svg" alt="send" height="18px" width="18px">
                          </button>
                        </div>
                      </div>
                      
                </div>
                <div class="post-box" *ngFor="let post of posts | searchFilter:searchText">
                    <div class="post-header">
                        <div class="post-user">
                            <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                            <span>{{post.username}}</span>
                        </div>
                        <div class="post-icons">
                            <img src="../../../assets/editIcon.svg" alt="more" >
                            <img src="../../../assets/deleteIcon.svg" alt="more" (click)="onDeleteBtnClick(post.id)">
                        </div>
                    <!-- <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                            <mat-expansion-panel-header>
                              <mat-panel-title> More </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p style="cursor: pointer;">Edit</p>
                            <p style="cursor: pointer;" (click)="onDeleteBtnClick(post.id)">Delete</p>
                          </mat-expansion-panel>
                        </mat-accordion> -->
                        
                    </div>
                    <div class="post-content">
                        <span>{{post.content}}</span>
                    </div>
                    <div class="post-img"  [ngClass]="{'has-media': post.mediaUrl === ''}">
                        <img src={{post.mediaUrl}} alt="post-img" style="max-height: 450px;width: 100%;margin-top: 2%;border-radius: 5px;">
                    </div>
                    <div class="post-reactions">
                        <div class="reaction">
                            <img src="../../../assets/heartIcon.svg" alt="more" height="25px" width="25px">
                            <span>Love</span>
                        </div>
                        <div class="reaction">
                            <img src="../../../assets/moodIcon.svg" alt="more" height="25px" width="25px">
                            <span>Mood</span>
                        </div>

                        <div class="reaction">
                            <img src="../../../assets/commentIcon.svg" alt="more" height="25px" width="25px">
                            <span>Comment</span>
                        </div>

                    </div>
                </div>
                <div class="post-box">
                    <div class="post-header">
                        <div class="post-user">
                            <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                            <span>Mayank Aryan</span>
                        </div>
                        <img src="../../../assets/3dots.svg" alt="more" height="25px" width="25px">
                    </div>
                    <div class="post-content">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum maiores aliquid nesciunt blanditiis porro eius vitae earum, harum exercitationem quae libero mollitia odit aspernatur expedita recusandae ducimus alias quam consectetur?</span>
                    </div>
                    <div class="post-img">
                        <img src="https://th.bing.com/th/id/OIP.MBEizT9RQV5EOTPEqtF_9AAAAA?rs=1&pid=ImgDetMain" alt="post-img" style="max-height: 450px;width: 100%;margin-top: 2%;border-radius: 5px;">
                    </div>
                    <div class="post-reactions">
                        <div class="reaction">
                            <img src="../../../assets/heartIcon.svg" alt="more" height="25px" width="25px">
                            <span>Love</span>
                        </div>
                        <div class="reaction">
                            <img src="../../../assets/moodIcon.svg" alt="more" height="25px" width="25px">
                            <span>Mood</span>
                        </div>

                        <div class="reaction">
                            <img src="../../../assets/commentIcon.svg" alt="more" height="25px" width="25px">
                            <span>Comment</span>
                        </div>

                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
            <div class="accounts-section">
                <span>Account Suggestions</span>
                <div class="account" *ngFor="let user of allUserDetails">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px" (click)="onProfileClick(user.id)">
                    <span>{{user.username}}</span>
                    <img src="../../../assets/chatIcon.svg" alt="chat" (click)="onChatBtnClick()">
                </div>
                <!-- <div class="account">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px" style="display: flex;width: 20%;justify-content: flex-start;">
                    <span>Sneha Kulkarni</span>
                    <span class="plus">+</span>
                    <img src="../../../assets/chatIcon.svg" alt="chat">
                </div> -->
            </div>
        </div>
    </div>
</div>
