<div class="dash-container">
    <div class="dash-nav">
        <div class="nav-logo">
            <img src="../../../assets/lol_emoji.svg" alt="LOGO" height="30px" width="40px">
            <span>LaughOutLoud</span>
        </div>
        <div class="nav-search">
            <img src="../../../assets/searchIcon.svg" alt="SEARCH" height="30px" width="40px">
            <input type="text" placeholder="Search from here...">
        </div>
        <div class="nav-profile">
            <img src="../../../assets/dummyProfile.png" alt="profile" height="30px" width="30px">
            <span>Abhishek Gupta</span>
            <img src="../../../assets/dropdown.svg" alt="dropdown" (click)="openDialog()">
        </div>
    </div>
    <div class="dash-body">
        <div class="dash-sections">
            <div class="profile-section">
                <img src="../../../assets/dummyProfile.png" alt="profile">
                <h4>Abhishek Gupta</h4>
            </div>
            <div class="main-section">
                <div class="msg-box">
                    <div class="img-box">
                        <img src="../../../assets/dummyProfile.png" alt="profile" height="40px" width="40px">
                    </div>
                    <div class="input-box">
                        <textarea name="" id="" placeholder="write msg here..."></textarea>
                        <div class="msg-type">
                            <div class="type">
                                <div style="display: flex;justify-content: center;align-items: center;">
                                    <img src="../../../assets/photoIcon.svg" alt="photo" height="16px" width="16px">
                                    <span>photo</span>
                                </div>
                                <div style="display: flex;justify-content: center;align-items: center;">
                                    <img src="../../../assets/videoIcon.svg" alt="video" height="16px" width="16px">
                                    <span>Video</span>
                                </div>
                            </div>
                            <button class="post-btn">
                                <span>Post</span>
                                <img src="../../../assets/sendIcon.svg" alt="video" height="18px" width="18px">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="post-box">
                    <div class="post-header">
                        <div class="post-user">
                            <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                            <span>Abhishek Gupta</span>
                        </div>
                        <img src="../../../assets/3dots.svg" alt="more" height="25px" width="25px">
                        
                    </div>
                    <div class="post-content">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum maiores aliquid nesciunt blanditiis porro eius vitae earum, harum exercitationem quae libero mollitia odit aspernatur expedita recusandae ducimus alias quam consectetur?</span>
                    </div>
                    <div class="post-reactions">
                        <div class="reaction">
                            <img src="../../../assets/heartIcon.svg" alt="more" height="25px" width="25px">
                            <span>Love</span>
                        </div>
                        <div class="reaction">
                            <img src="../../../assets/moodIcon.svg" alt="more" height="25px" width="25px">
                            <span>Mood</span>
                        </div>

                        <div class="reaction">
                            <img src="../../../assets/commentIcon.svg" alt="more" height="25px" width="25px">
                            <span>Comment</span>
                        </div>

                    </div>
                </div>
                <div class="post-box">
                    <div class="post-header">
                        <div class="post-user">
                            <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                            <span>Mayank Aryan</span>
                        </div>
                        <img src="../../../assets/3dots.svg" alt="more" height="25px" width="25px">
                        
                    </div>
                    <div class="post-content">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum maiores aliquid nesciunt blanditiis porro eius vitae earum, harum exercitationem quae libero mollitia odit aspernatur expedita recusandae ducimus alias quam consectetur?</span>
                    </div>
                    <div class="post-reactions">
                        <div class="reaction">
                            <img src="../../../assets/heartIcon.svg" alt="more" height="25px" width="25px">
                            <span>Love</span>
                        </div>
                        <div class="reaction">
                            <img src="../../../assets/moodIcon.svg" alt="more" height="25px" width="25px">
                            <span>Mood</span>
                        </div>

                        <div class="reaction">
                            <img src="../../../assets/commentIcon.svg" alt="more" height="25px" width="25px">
                            <span>Comment</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accounts-section">
                <span>Account Suggestions</span>
                <div class="account">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                    <span>Abhishek Gupta</span>
                    <span class="plus">+</span>
                </div>
                <div class="account">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                    <span>Mayank Aryan</span>
                    <span class="plus">+</span>
                </div>
                <div class="account">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                    <span>Washim Akram</span>
                    <span class="plus">+</span>
                </div>
                <div class="account">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                    <span>Sindhu Muruli</span>
                    <span class="plus">+</span>
                </div>
                <div class="account">
                    <img src="../../../assets/dummyProfile.png" alt="profile" height="25px" width="25px">
                    <span>Sneha Kulkarni</span>
                    <span class="plus">+</span>
                </div>
            </div>
        </div>
    </div>
</div>
